<a href="https://colab.research.google.com/github/ArosevMaxim/PDA_SOL/blob/main/BasicElemtnts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Базовые элементы Python

### 1. Переменные

**Переменные** можем рассмартивать как контейнер, который хранит часть **информации** в виде числел или текста.

In [1]:
# Сохраним в переменную число и выведем её значение на экран
a = 14
print(a)

14

In [2]:
# Аналогчино сделаем с текстом
b = 'Здесь записан некоторый текст'
print(b)

Здесь записан некоторый текст

### 2. Действия с переменными и типы данных

In [3]:
# Просуммируем переменные
a = 14
c = 3
d = a + c
print(d)

17

In [4]:
# Либо можно сделать так
print(a+c)

17

In [5]:
# Можно ли изменить значение переменной?
a = 18
print(a)

18

In [6]:
# Равенство переменных
e = a
print(e)

18

In [7]:
# Типы данных в Python

# Integer (целочисленные)
a = 1
print(a)
print(type(a))

# Float (числа с плавающей точкой)
a = 5.0
print(a)
print(type(a))

# Boolean (логический тип - ИСТИНА/ЛОЖЬ)
a = True
print(a)
print(type(a))

# String (строковый тип)
a = "7"
print(a)
print(type(a))

1
<class 'int'>
5.0
<class 'float'>
True
<class 'bool'>
7
<class 'str'>

In [8]:
# Обращайте внимание на операции с разными типами данных

x = 15
y = 4
z = x + y
print(z)
print(type(z))

# string variables
x = "1"
y = "2"
z = x + y
print(z)
print(type(z))

19
<class 'int'>
12
<class 'str'>

### 3. Списки
**Списки** очень полезны в программировании. Их тоже можно сравнить с контейнерами, но с разными отсеками, где каждый отсек хранит другую переменную.

In [9]:
# Простой массив из целых чисел в виде списка в Python
a = [1,2,3]
print(a)

[1, 2, 3]

In [10]:
# Можно хранить переменные разных типов
b =  ["Text", 4, 2.5]
print(b)

['Text', 4, 2.5]

In [11]:
# Использование индексов списков для получения определенных элементов массива

# Как вывести каждый элемент списка отдельно?
print(a[0])
print(a[1])
print(a[2])
# Индексы в списках нумеруются числами, начиная с 0. Т.е. список, в котором 3 элемента, имеет индекса 0, 1 и 2.

1
2
3

In [12]:
# Добавление большего количества элементов в список

a.append(4)
print(a)

[1, 2, 3, 4]

In [13]:
# Определение количества элементов в списке
print(len(a))

4

In [14]:
# Изменение значения элемента в списке

a[3] = 5
print(a)

[1, 2, 3, 5]

In [15]:
# Нарезка списков-это метод, используемый для получения элементов из различных индексов, до них или между ними

# Обратите внимание:

#a[start:stop]  # нарезка списка начинается с элемента start до элемента stop-1
#a[start:]      # нарезка списка начинается с элемента start до последнего элемента в массиве
#a[:stop]       # нарезка списка начинается с начального элемента до элемента stop-1
#a[:]           # копия целого списка

print("Все элементы: ", a[:])
print("Все элементы с 3й позиции до последнего: ", a[2:])
print("Все элементы между 2й и 4й позицией: ", a[1:3])
print("Все элементы, кроме последнего", a[:-1])

Все элементы:  [1, 2, 3, 5]
Все элементы с 3й позиции до последнего:  [3, 5]
Все элементы между 2й и 4й позицией:  [2, 3]
Все элементы, кроме последнего [1, 2, 3]

## 4. Словари
**Словари** это объекты, которые хранят пару значений "ключ:значение".

In [16]:
# Создаем словарь
country_info = {"name": "Japan",
        "capital": "Tokyo"}

print(country_info)
print(country_info["name"])
print(country_info["capital"])

{'name': 'Japan', 'capital': 'Tokyo'}
Japan
Tokyo

In [17]:
# Мы можем сохранить несколько переменных и их значений и добавлять новую информацию в словарь

country_info['population'] = '126.8M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '126.8M'}

In [18]:
# Также просто мы можем менять значение переменных

country_info['population'] = '100M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M'}

In [19]:
# Значения могут быть любых типов данных

country_info['regions'] = ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']}

In [20]:
# Можно также создавть вложенные словари

country_info['health'] = {"life_expectancy": 84.1, "birth_rate": 1.44}
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

In [21]:
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

In [22]:
# Доступ к данным вложенного словаря

country_info['health']['life_expectancy']

84.1

In [23]:
country_info.values()

dict_values(['Japan', 'Tokyo', '100M', ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], {'life_expectancy': 84.1, 'birth_rate': 1.44}])

# 5. Операторы условий - If & Else

Операторы if окажутся неоценимыми в программировании при работе с ситуациями, когда необходимо проводить вычисления в зависимости от разных условий.

In [24]:
# Использование оператора if

x = 19

if x < 10:
    print("меньше 10")
else:
  print("больше или равно 10")

больше или равно 10

In [25]:
x = 29

if x < 10:
    print("меньше 10")
elif x > 10 and x <= 19:
    print("больше 10, но меньше 20")
else:
    print("больше или равно 20")

больше или равно 20

In [26]:
# Использование логических значений операторов условий

a = True
if a:
  print("утверждение верное")

утверждение верное

# 6. Циклы

Циклы-это еще один бесценный инструмент в программировании, давайте рассмотрим несколько способов реализации циклов в Python

In [27]:
# Использование функции range

print(list(range(5)))

# Либо так

print(list(range(1,5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]

In [28]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [29]:
# С помощью циклов в питоне можно напрямую перебирать элементы в списке

items = ['a','b', 'c', 'd']
for item in items:
  print(item)

a
b
c
d

In [30]:
# Увеличение значения переменных в цикле и сохранение их в списке

x = 0
collecting_values_of_x = []

items = ['a','b', 'c', 'd']
for item in items:
  x += 1
  print(x, item)
  collecting_values_of_x.append(x)

print(collecting_values_of_x)

1 a
2 b
3 c
4 d
[1, 2, 3, 4]

In [31]:
# Реализация циклов с помощью оператора While

x = 0
while x < 5:
    x += 1
    print(x)

1
2
3
4
5

In [32]:
x = 0
while True:
    if x == 5:
      break
    x += 1
    print(x)

1
2
3
4
5

# 7. Функции

**Функции** чрезвычайно полезны при создании фрагментов кода, которые вы хотите вызывать или использовать несколько раз

In [33]:
# Простая функция для возврата площади круга

def areaCircle(radius):
  area = 3.14 * (radius**2)
  return area

In [34]:
areaCircle(2)

12.56

In [35]:
# Более сложные варианты функций - объем цилиндра

def volumeCylinder(radius, height):
  volume = 3.14 * radius**2 * height
  return volume

In [36]:
volumeCylinder(radius = 5, height = 6)

471.0

In [37]:
# Функции с дефолтными аргументами

def volumeCylinder(radius, height = 3):
  volume = 3.14 * radius**2 * height
  return volume

In [38]:
volumeCylinder(5)

235.5

In [39]:
volumeCylinder(5,10)

785.0